sota/Data
sota/PNPP
sota/Point-Transformers
__pycache__/
xXx*
network_xXx*
sota/ExquisiteNetV2/cifar-10-batches-py
*.bmp
build/
tests/*/outputs
*.out
*.pkl
src/island_temp_script.sh
cifar10
uv.lock
pareto_fronts